body{padding-right: 550px;
    padding-left: 150px;
    text-align:justify;
    font-size: width: 800px
    height: 1339px;
    background-color: #FFFFFF;
}    
.packer{background-color:white;
width: 800;
height: 483.36533;
margin-right: auto;
margin-left: auto;}
    img{border: 2px solid ;
    border-radius: 24px;
    padding-left: 6+150px;
    padding-right: 6+550px;
    width: 736px;
    top: 123px;
    margin-left:auto;
    margin-right:auto;
     background-color: white;
    }
   

